<% include _layouts/header %>

<div class="row">

    <h1 class="page-header"><%= p.title %></h1>

    <div class="col-xs-12 col-md-5">
        <img class="spi" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
        <br>
    </div>
    <div class="col-xs-12 col-md-7">
        <p><%= p.desc %></p>
        <% if(category.discount === true){ %>      

        <p><b>Discount: <%= category.discountrate %> % </b></p>
        <p>Rate: <del>$<%= parseFloat(p.price).toFixed(2) %></del></p>
        <p>Discounted Rate: $<%= (parseFloat(p.price).toFixed(2)) - ((parseFloat(p.price).toFixed(2))*(category.discountrate)/100 ) %></p>
        <% }else{ %>
        <p>$<%= parseFloat(p.price).toFixed(2) %></p>
        <% } %>



        <form method="get" action="/cart/add/<%= p.slug %>">
            <div class="input-group">
                <select class="form-control" name="q">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>


                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">Add to cart</button>
                </div>
            </div>
        </form>
        <% if (user) { %>
        <p><a href="/wishlist/add/<%= p.title %>">Add to wishlist</a></p>
        <p><a href="/wishlist/remove/<%= p.title %>">Remove from wishlist</a></p>
        <% } %>
        <div class="rating-block">
            <h4>Average user rating</h4>
            <h2 class="bold padding-bottom-7"><%= p.avgrating %> <small>/ 5</small></h2>
            <% for(var i=1;i<=5;i++){ %> 
            <% if(i<= p.avgrating){ %>
            <span class="fa fa-star checked"></span>
            <% }else{ %> 
            <span class="fa fa-star"></span>
            <% } %>
            <% } %>            
            <br>
        </div>

        <h4>All Reviews</h4>
        <% p.review.forEach(function(review){ %>
        <div class="rating-block">
            <h4>Review by: <%= review.username %></h4>
            <h5>Rating: <%= review.rating %><small>/ 5</small></h5>
            <% for(var i=1;i<=5;i++){ %> 
            <% if(i<= review.rating){ %>
            <span class="fa fa-star checked"></span>
            <% }else{ %> 
            <span class="fa fa-star"></span>
            <% } %>
            <% } %>  
            <h5>Review: <%= review.content %> </h5>
        </div>
        <% }); %>

    </div>
    <div class="col-xs-12">
        <ul class="gallery">
            <% galleryImages.forEach(function(image){ %>
            <% if (image != "thumbs") { %>
            <li>
                <a data-fancybox="gallery" href="/product_images/<%= p.id %>/gallery/<%= image %>">
                    <img src="/product_images/<%= p.id %>/gallery/thumbs/<%= image %>" alt="">
                </a>
            </li>
            <% } %>
            <% }); %>
        </ul>
    </div>
</div>

<% include _layouts/footer %>